*{
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1200px;
  margin: 0 auto
}

button {
  outline: none !important;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--color-main-background);
  font: 14px play, PingFangSC-Regular, Microsoft Yahei;
  line-height: 22px;
  color: var(--color-primary);
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.block{
  display: block;
}

.el-footer{
  padding: 0;
}
